# macOS
.DS_Store

node_modules/

# The built plugin app goes here. We don't want to check it it from 
# a developer session, but we do like to keep the directory in the repo,
# thus the placeholder README file.
/plugin/iframe_root/*
!/plugin/iframe_root/README.md 

# created by npm if install with --no-cache option
false

# Artifact of local github pages development
_site